html,body {
	padding: 0;
	margin: 0;
}
.box1 {
	height: 100px;
	width: 350px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border: 1px solid red;
}
.box2 {
	height: 100px;
	width: 350px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid red;
}
.same {
	height: 100%;
	width: 20%;
	border: 1px solid blue;
}
.box3 {
	height: auto;
	width: 350px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border: 1px solid red;
}
.unique {
	height: 80px;
	width: 170px;
	margin-bottom: 10px;
	border: 1px solid blue;
}