table {
	border-collapse: collapse;
}
#one {
	height: auto;
	width: 400px;
	border: 1px solid red;
}
#one tr {
	height: 50px;
	width: 100%;
	
}
#one tr th {
	border: 1px solid green;
}
#one tr td {
	text-align: center;
	border: 1px solid blue;
}


#two {
	height: auto;
	width: 300px;
	border: 1px solid red;
}
#two tr {
	height: 50px;
	width: 100%;
	border: 1px solid red;
}
#two tr td {
	text-align: center;
	border: 1px solid red;
}